<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<servlet>
		<servlet-name>product</servlet-name>
		<servlet-class>com.huyaoban.springmvc.controller.ControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>product</servlet-name>
		<url-pattern>/form/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>product</servlet-name>
		<url-pattern>/pdf/*</url-pattern>
	</servlet-mapping>
    
</web-app>
